div#output {
  font-family: monospace;
}

input#prefix {
  border-radius: 3px 0 0 3px;
  border-right: 1px solid #ccc;
}

input#command {
  border-radius: 0 3px 3px 0;
  border-left: 0;
}

div#output table, div#output div.item {
  border: 1px solid black;
  border-radius: 5px 5px 5px;
  padding: 4px;
  margin: 4px;
}

div#output th {
  font-weight: bold;
}

div#output td {
  border: 1px solid #ccc;
}

div#output .value {
  white-space: pre;
  border: 1px solid black;
  border-radius: 5px 5px 5px;
  padding: 4px;
  margin: 4px;
}

div#output table table, div#output table .value {
  border-width: 0;
}

.CodeMirror-scroll {
	height: auto;
	overflow: visible;
}
